* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
  color: white;
}

.global {
  display: flex;
}

.header {
  background-color: #2c7234;;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 15px;
}

.header img {
  width: 40px;
  filter: drop-shadow(2px 2px 2px black);
}

.cart-button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.cart-button:hover {
  background-color: #bfbfbf;
  transition: 400ms;
}

.input-header {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.input-header:hover {
  background-color: #bfbfbf;
  transition: 400ms;
}

.div-categories {
  width: 240px;
  border-radius: 0 0 10px 10px;
}

.button-categories {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
}

.button-categories:hover {
  background-color: #bfbfbf;
  padding: 12px;
  transition: 400ms;
}

.products {
  background-color: #2c7234;;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.products:hover {
  background-color: #1f5225;
  transition: 400ms;
}

.products img {
  width: 220px;
  border-radius: 5px;
}

.products p, a {
  color: white;
  text-decoration: none;
}

.products button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.products button:hover {
  background-color: #bfbfbf;
  transition: 400ms;
}

.home-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.msg-vazio {
  text-align: center;
  margin-top: 100px;
  font-weight: 500;
  font-size: 25px;
}

.div-itens-carri {
  background-color: #2c7234;;
  border-radius: 5px;
  width: 200px;
  margin: 30px;
}

.div-itens-carri img {
  width: 200px;
  border-radius: 5px 5px 0 0;
}

.div-card-carri {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.div-card-carri button {
  border: none;
  padding: 5px 10px;
  height: 27px;
  border-radius: 5px;
}

.product-page {
  background-color: #2c7234;
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  padding: 20px;
}

.product-page img {
  width: 350px;
  border-radius: 10px;
  margin: 20px;
}

.product-page button {
  margin-left: 50px;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
}
